html, body {
    margin: 0;
    height: 120vh;
    background: #24C6DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#container {
    height: 85vh;
    color: white;
}
.navbar {
    background: none;
    margin: 0;
}
.navbar-default .navbar-toggle {
    border-color: white;
}
@media (max-width: 768px) { 
    #NavBar{
        position: absolute;
        width: 100%;
        z-index: 9999;
    }
}
.navbar-brand {
    font-family: 'Molle';
}