{% extends "layout.html" %}

{% block title %}
    <link href="{{ url_for('static', filename='account.css') }}" rel="stylesheet"/>
{% endblock %}
{% block main %}
<h3>{{ rows[0]['username'] }}</h3>
<h4>Your Account</h4>
<div
{{  rows }}
    <h4>Questions you've asked</h3>
    <div class="list-group">
    {% for line in responses[::-1] %}
        <a href="/poll/{{ line['poll_id'] }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ line['question'] }}</h4>
        </a>
    {% endfor %}
    </div>
</div>
{% endblock %}